<!-- Parent Template -->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">v
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parent</title>


    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>

<body>
<!--<nav class=”navbar fixed-top navbar-expand-md navbar-light bg-light”>-->
    </div>
     <div class="row">
         <div class="text-center"><h2>Arturo svetainė</h2></div>
         <div><a href="/"><button>Projektai</button></a></div>
         <div class="col-sm-3 btn-lg"><a href="/about-me" class="btn btn-info" role="button"><h4>Apie mane</h4></a></div>
         <div class="col-sm-3 btn-lg"><a href="/contact" class="btn btn-info" role="button"><h4>Kontaktai</h4></a></div>
     </div>
</body>
</html>